body{
    background-color: #fbf7f5;
    margin: 0%;
}
.navbar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #f9f1f1;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #7a7a7a;
    font-family: "Noto Znamenny Musical Notation", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.navbar a{
    color: #7a7a7a;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    text-align: center;
}